################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RestrictionsLimitPopup/config/applicationhost.config
/.vs/RestrictionsLimitPopup/v16/.suo
/.vs/RestrictionsLimitPopup/v16
/RestrictionsLimitPopup/ClientApp/.next
/RestrictionsLimitPopup/ClientApp/dummy-package.json
/.vs/RestrictionsLimitPopup/DesignTimeBuild
/RestrictionsLimitPopup/ClientApp/application-keys
/RestrictionsLimitPopup/ClientApp-React/.next
/RestrictionsLimitPopup/ClientApp-Shopify-React/.next
/RestrictionsLimitPopup/ClientApp-Shopify-React/node_modules
/RestrictionsLimitPopup/ClientApp-Shopify-React/shopify_tutorial_react
/RestrictionsLimitPopup/ClientApp-Shopify-React/shop_auth_url.txt
/RestrictionsLimitPopup/ClientApp-Shopify-React/.env
/Resources/Dump
/RestrictionsLimitPopup/ClientApp-Shopify-React/components/warnings/warning-table-action.js
/RestrictionsLimitPopup/ClientApp-Shopify-React/pages/index-copy.js
/RestrictionsLimitPopup/ClientApp-Shopify-React/trial
/Resources
/RestrictionsLimitPopup/ClientApp-Shopify-React/assets/configs
/RestrictionsLimitPopup/ClientApp-Shopify-React/models/PopupDesignStyle copy.txt
/RestrictionsLimitPopup.Common/obj
/RestrictionsLimitPopup.ShopifyData/obj
RestrictionsLimitPopup/ClientApp-Shopify-React/components/shared/window-resize-dimension.js
RestrictionsLimitPopup/ClientApp-Shopify-React/public/assets/configs/appConfig.txt
/DemoConceptTest
/LoggerOldCode
/Scripts
/.vscode
/DemoRazorApplication
/MultiLogger.Extensions
/MultiLogger.Writers
/MultiLogger.Tests
Common.DAL/obj/DAL.csproj.nuget.dgspec.json
Common.DAL/obj/project.assets.json
Common.DAL/obj/DAL.csproj.nuget.dgspec.json
