<nav class="navbar navbar-expand-lg navbar-dark bg-dark site-header sticky-top py-1">
    <a class="navbar-brand mb-0 h-1" href="#">
        {{ 'Common.BrandName' | translate }}
    </a>
    <ul class="navbar-nav">
        <ng-container *ngFor="let headerContent of header">
            <li class="nav-item p-2 mx-3">
                <a class="nav-link" [routerLink]="headerContent.url">
                    {{ headerContent.text | translate }}
                </a>
            </li>
        </ng-container>
    </ul>
</nav>