/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}

.user-sel-none {
    user-select: none;
}

.screen-width {
    width: 100vw;
}
.screen-height {
    height: 100vh;
}