<div class="bg-light d-flex align-items-center justify-content-center screen-height screen-width">
    <form class="form-signin" style="max-width: 330px;">
        <img class="mb-4" src="https://valor-software.com/ngx-bootstrap/assets/images/logos/header-logo.svg" alt="" width="72" height="72" class="mx-auto">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; {{ currentYear }}</p>
    </form>
</div>